SECRET_KEY=django-insecure-change-this
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=ERP_DB
DB_HOST=localhost
DB_TRUSTED_CONNECTION=true

OLLAMA_URL=http://localhost:11434/api/chat
OLLAMA_MODEL=qwen3:4b

EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASSWORD=
ADMIN_EMAIL=admin@example.com
